/* We start off on a clean slate by setting everything in the body to 0 hence i know
any styling i do, will be on my own accord and no one esle's (i.e the browser) */
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 1200px;
    height:70px;
    background-color: #333;
    margin-left: 80px;
    border-radius: 3px;
}

h2{
    color: white;
    padding-left: 400px;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro{
    background-color: #3333;
    border-radius: 3px;
    width: 1200px;
    height: 300px;
    margin-left: 80px;
    margin-top: 40px;
}

.intro h3{
    margin-left:20px;
    padding-top:30px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.det{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

.skills{
    margin-top: 40px;
    justify-content: center;
    display: flex; /*The three of these lines of code are to help me center anything inside the box */
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    margin-left: 80px;
    margin-top: 30px;
   
  }

  .box1{
    width:500px ;
    background-color:#333333;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 3px;
    height: 200px;
    justify-content: center;
    display: flex; /*The three of these lines of code are to help me center anything inside the box */
    align-items: center;
  }

  .container .box1 p{
    color: aliceblue;
    font-size:medium;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

.contact{
    width:1000px ;
    background-color: #3333;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 120px;
    border-radius: 3px;
    height: 600px;
    padding-left: 30px;
    padding-right: 30px;
  }

  input[type=text], select, textarea {
     width: 1000px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  input[type=submit] {
    background-color:#333333;
    color: white;
    margin-left: 170px;
    margin-top: 20px;
    padding: 20px 300px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

 


/* MEDIA QUERIES */
@media  (max-width: 375px){
  header{
    margin-left: 0px;
    margin-top: -20px;
    border-radius: 0px;
    width: auto;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
  }


  h2{
    padding-left: 0px;
    font-size: large;
  }

  .intro{
    margin-left: 0px;
    margin-top: -20px;
    height: 380px;
    width: 100%;
  }

  .box1{
    margin-left: -80px;
    border-radius: 0px;
  }

  .contact{
    margin-left: 0px;
    width: auto;
  }

  input[type=text], select, textarea{
    width: 100%;
  }

  input[type=submit]{
    margin-left: -10px;
    padding: 20px;
    width: 375px;
    
    
  }
  
 
  

}


@media  (max-width: 375px) and (min-width: 320px){
 h2{
    font-size: medium;
 }

 .intro{
    height: 400px;
 }

 .intro h3{
    font-weight:600;
 }

 .skills{
    font-size: medium;
 }
  
 input[type=submit]{
   margin-left: -30px;
   width: 320px;
   
 }

}

@media (max-width: 425px){
    header{
       width: auto; 
       margin-left: 0px;
       border-radius: 0px;
       margin-top: -20px;
       
    }

    h2{
        padding-left: 40px;
        padding-top: 20px;
        font-size: large;
    }

    .intro{
        width: auto;
        height: 400px;
        margin-left: 0px;
        margin-top: -20px;
    }

    .box1{
        margin-right: 60px;
        margin-left: -20px;
    }

    .contact{
        margin-left: 0px;
        width: auto;
    }

    input[type=text], select, textarea{
        width: 380px;
    }

    input[type=submit]{
        padding: 20px;
    }



    
}

/*@media (max-width: 768px){
    header{
        margin-left: 0px;
        border-radius: 0px;
        width: auto;
    }

    .intro{
        margin-left: 0px;  
    }

    .box1{
        width: 800px;
        margin-left: 300px;
        
    }

    .contact{
        margin-left: 68px;
        
    }

    input[type=text], select, textarea{
        
    }

    input[type=submit]{
        
    }
}

/*@media (max-width: 1024px){
   header{
    margin-left: 0px;
    margin-top: -20px;
    width: auto;
    border-radius: 0px;
   }

   h2{
    margin-left: -100px;
   }

   .box1{
    margin-left: 160px;
   }

   .intro{
    margin-left: 0px;
    width: auto;
   }

   .contact{
    margin-left: 0px;
    width: auto;
   }

   input[type=text], select, textarea{
    margin-left:0px;
    width: 988px;
   }



    
} 


